---
layout: default
title: S-17
logo_path: images/s17.png
slider:
  image: '4'
  bloc1_image_path: /img_2212.jpg
  bloc2_image_path: /img_2215.jpg
  bloc3_image_path: /img_2213.jpg
  bloc4_image_path: /img_2164.png
achatnormal:
  bloc: '4'
  bloc1:
    bloc_voiture: voiture
    image1_path: /img_2212.jpg
    image2_path: /img_2213.jpg
    image3_path: /tn_101_6551.jpg
    image4_path: /8a0a563131c24e32a80ee24ccbc80f97f2306a6b.jpg
  bloc2:
    bloc_voiture: voiture
    image1_path:
    image2_path:
    image3_path: /30030bdd836780c70a43420a0ca17139015f80b8.jpg
    image4_path: /8ce92abf89a07611cb6ea576891da8afa4a36309.jpg
  bloc3:
    bloc_voiture: voiture
    image1_path:
    image2_path:
    image3_path:
    image4_path:
  bloc4:
    bloc_voiture: voiture
    image1_path:
    image2_path:
    image3_path:
    image4_path:
location:
  activate: false
  bloc: '2'
  bloc1_image_path:
  bloc1_voiture: voiture
  bloc2_image_path:
  bloc2_voiture: voiture
  bloc3_image_path:
  bloc3_voiture: voiture
  bloc4_image_path:
  bloc4_voiture: voiture
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <div class="contain-to-grid sticky">
       <nav class="top-bar" data-topbar role="navigation">
         <ul class="title-area">
           <li class="name">
            <h1><a href="#app"><img src="{{page.logo_path}}" /> L'auto qu'il vous faut</a></h1>
            </li><li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
           
         </ul>
         <section class="top-bar-section">
           <!-- Right Nav Section -->
           <ul class="right">
             <li><a id="lapp" href="#app">Á propos</a></li>
             <li><a id="lrech" href="#recherche">Formulaire de recherche</a></li>
              {% if page.location.activate == true %}
             <li><a id="lench" href="#location">Location</a></li>
              {% endif %}
             <li><a id="lcontact" href="#contact">Nous contacter</a></li>
           </ul>
         </section>
       </nav>
     </div>
      <div class="camera_wrap pattern_1" id="camera_wrap_4">
            {% case page.slider.image %}
            
            {% when '4' %}
            <div data-src="{{page.slider.bloc1_image_path}}">
            </div>
            <div data-src="{{page.slider.bloc2_image_path}}">
            </div>
            <div data-src="{{page.slider.bloc3_image_path}}">
            </div>
            <div data-src="{{page.slider.bloc4_image_path}}">
            </div>
            {% when '3' %}
            <div data-src="{{page.slider.bloc1_image_path}}">
            </div>
            <div data-src="{{page.slider.bloc2_image_path}}">
            </div>
            <div data-src="{{page.slider.bloc3_image_path}}">
            </div>
            {% when '2' %}
            <div data-src="{{page.slider.bloc1_image_path}}">
            </div>
            <div data-src="{{page.slider.bloc2_image_path}}">
            </div>
            {% when '1' %}
            <div data-src="{{page.slider.bloc1_image_path}}">
            </div>
            {% endcase %}
      </div>
      <section class="appsec" id="app">

        <div class="row">
          <div class="large-12 columns">
            <h1 class="text-center editable">À PROPOS DE S-17</h1>
            <hr class="style-seven" />
            <h3 class="text-center editable"><strong><u>Qui sommes nous ?</u></strong></h3>
            <p class="editable">Apr&egrave;s avoir travaill&eacute; chez divers concessionnaires automobiles, Reinald Lin, g&eacute;rant de l&rsquo;auto-&eacute;cole GMC Br&eacute;tigny sur Orge, met aujourd&rsquo;hui son exp&eacute;rience professionnelle &agrave; votre service avec STAND 17.<br /><br />&nbsp;S-17, n&eacute;gociant automobile, vous permet de <strong>rechercher et d&rsquo;acheter</strong>&nbsp; la voiture que vous d&eacute;sirez <strong>sans bouger de chez vous, </strong>en vous faisant b&eacute;n&eacute;ficier<strong> des meilleurs tarifs </strong>autos, avec possibilit&eacute;s de garanties. <a href="https://www.carsontheweb.com/fr-fr/cotw/car/list">ici</a><br /><br />S-17 vous propose &eacute;galement la <strong>location</strong>&nbsp;de v&eacute;hicules &agrave; des tarifs d&eacute;fiants toute concurrence.</p>
            <h3 class="text-center editable"><strong><u>Nos garanties</u></strong>&nbsp;</h3>
            <p class="editable"><strong></strong>- Nous nous engageons &agrave; r&eacute;pondre &agrave; votre formulaire de recherche sous 24H, du lundi au vendredi.<br />- Nous suivons votre dossier attentivement jusqu&rsquo;&agrave; vous proposer la voiture que vous recherchez.<br />- Nous nous engageons sur la qualit&eacute; des v&eacute;hicules propos&eacute;s.</p>
            <h3 class="text-center editable"></h3>
            <p class="editable"></p>
            <h3 class="text-center editable"></h3>
            <p class="editable"></p>
          </div>
        </div>

      </section>

      <section class="rech" id="recherche">

        <div class="row">
          <div class="large-12 columns">
            <h1 class="text-center">Formulaire de recherche</h1>
            <h3 class="text-center editable"></h3>
            <p class="text-center editable">S-17, n&eacute;gociant automobile, vous permet de <strong>rechercher et d&rsquo;acheter</strong> la voiture que vous d&eacute;sirez <strong>sans bouger de chez vous, </strong>en vous faisant b&eacute;n&eacute;ficier<strong> des meilleurs tarifs </strong>autos. Pour seulement 150&euro;, S-17 vous trouve l&rsquo;auto qu&rsquo;il vous faut.<br />Pour nous permettre la meilleure efficacit&eacute;, merci de remplir le formulaire le plus pr&eacute;cis&eacute;ment possible. En cas de n&eacute;cessit&eacute;, vous pouvez &eacute;galement nous contacter.</p>
          </div>
        </div>

            <form class="formrc" method="POST" id="form" action="merci.html">
              <div class="row">
                <div class="small-6 columns">
                  <div class="row collapse">
                  <h3 class="text-center">Informations personnelles</h3>
                    <div class="small-2 columns">
                      <span class="prefix">Nom*</span>
                    </div>
                    <div class="small-10 columns">
                      <input type="text" name="lastname" placeholder="Nom" id="ln" value="" required="" />
                    </div>
                  </div>
                </div>
                <div class="small-6 columns">
                  <div class="row collapse">
                  <h3 class="text-center">Modèle recherché</h3>
                    <div class="small-2 columns">
                      <span class="prefix">Type</span>
                    </div>
                    <div class="small-10 columns">
                      <select id="type" name="type">
                        <option value="occasion">Occasion</option>

                        <option value="neuf">Neuf</option>

                        <option value="Les2">Les 2</option>

                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Prénom*</span>
                    </div>
                    <div class="small-10 columns">
                      <input id="fn" value="" type="text" name="firstname" placeholder="Prénom" required="" />
                    </div>
                  </div>
                </div>
                <div class="small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Marque</span>
                    </div>
                    <div class="small-10 columns">
                      <select id="marque" name="marque">
                        <option value="" title=""> TOUTES </option>
                        <option value="RENAULT" title="Renault"> RENAULT </option>
                        <option value="PEUGEOT" title="Peugeot"> PEUGEOT </option>
                        <option value="CITROEN" title="Citroen"> CITROEN </option>
                        <option value="BMW" title="BMW"> BMW </option>
                        <option value="VOLKSWAGEN" title="Volkswagen"> VOLKSWAGEN </option>
                        <option value="ABARTH">ABARTH</option>
                        <option value="AC">AC</option>
                        <option value="ACREA">ACREA</option>
                        <option value="AIXAM">AIXAM</option>
                        <option value="ALFA ROMEO">ALFA ROMEO</option>
                        <option value="ALPINA">ALPINA</option>
                        <option value="ALPINE RENAULT">ALPINE RENAULT</option>
                        <option value="AMC">AMC</option>
                        <option value="ARIEL">ARIEL</option>
                        <option value="ARO">ARO</option>
                        <option value="ASTON MARTIN">ASTON MARTIN</option>
                        <option value="AUDI">AUDI</option>
                        <option value="AUSTIN">AUSTIN</option>
                        <option value="AUSTIN HEALEY">AUSTIN HEALEY</option>
                        <option value="AUTOBIANCHI">AUTOBIANCHI</option>
                        <option value="BELLIER">BELLIER</option>
                        <option value="BENTLEY">BENTLEY</option>
                        <option value="BMW">BMW</option>
                        <option value="BUGATTI">BUGATTI</option>
                        <option value="BUICK">BUICK</option>
                        <option value="CADILLAC">CADILLAC</option>
                        <option value="CASALINI">CASALINI</option>
                        <option value="CATERHAM">CATERHAM</option>
                        <option value="CHATENET">CHATENET</option>
                        <option value="CHEVROLET">CHEVROLET</option>
                        <option value="CHRYSLER">CHRYSLER</option>
                        <option value="CITROEN">CITROEN</option>
                        <option value="DACIA">DACIA</option>
                        <option value="DAEWOO">DAEWOO</option>
                        <option value="DAIHATSU">DAIHATSU</option>
                        <option value="DANGEL">DANGEL</option>
                        <option value="DARMONT">DARMONT</option>
                        <option value="DB">DB</option>
                        <option value="DE LA CHAPELLE">DE LA CHAPELLE</option>
                        <option value="DE LOREAN">DE LOREAN</option>
                        <option value="DE TOMASO">DE TOMASO</option>
                        <option value="DODGE">DODGE</option>
                        <option value="DONKERVOORT">DONKERVOORT</option>
                        <option value="DS">DS</option>
                        <option value="DUE">DUE</option>
                        <option value="EXCALIBUR">EXCALIBUR</option>
                        <option value="FERRARI">FERRARI</option>
                        <option value="FIAT">FIAT</option>
                        <option value="FISKER">FISKER</option>
                        <option value="FORD">FORD</option>
                        <option value="GMC">GMC</option>
                        <option value="GRECAV">GRECAV</option>
                        <option value="HONDA">HONDA</option>
                        <option value="HOTCHKISS">HOTCHKISS</option>
                        <option value="HRUBON">HRUBON</option>
                        <option value="HUMMER">HUMMER</option>
                        <option value="HYUNDAI">HYUNDAI</option>
                        <option value="INFINITI">INFINITI</option>
                        <option value="INNOCENTI">INNOCENTI</option>
                        <option value="INTERMECCANICA">INTERMECCANICA</option>
                        <option value="ISUZU">ISUZU</option>
                        <option value="JAGUAR">JAGUAR</option>
                        <option value="JDM SIMPA">JDM SIMPA</option>
                        <option value="JEEP">JEEP</option>
                        <option value="KIA">KIA</option>
                        <option value="KOENIGSEGG">KOENIGSEGG</option>
                        <option value="KTM">KTM</option>
                        <option value="LADA">LADA</option>
                        <option value="LAMBORGHINI">LAMBORGHINI</option>
                        <option value="LANCIA">LANCIA</option>
                        <option value="LAND ROVER">LAND ROVER</option>
                        <option value="LEXUS">LEXUS</option>
                        <option value="LIGIER">LIGIER</option>
                        <option value="LINCOLN">LINCOLN</option>
                        <option value="LOTUS">LOTUS</option>
                        <option value="MAHINDRA">MAHINDRA</option>
                        <option value="MARTIN">MARTIN</option>
                        <option value="MASERATI">MASERATI</option>
                        <option value="MATRA">MATRA</option>
                        <option value="MAYBACH">MAYBACH</option>
                        <option value="MAZDA">MAZDA</option>
                        <option value="MCLAREN">MCLAREN</option>
                        <option value="MEGA">MEGA</option>
                        <option value="MERCEDES">MERCEDES</option>
                        <option value="MERCEDES_AMG">MERCEDES-AMG</option>
                        <option value="MERCURY">MERCURY</option>
                        <option value="MG">MG</option>
                        <option value="MIA ELECTRIC">MIA ELECTRIC</option>
                        <option value="MICROCAR">MICROCAR</option>
                        <option value="MINI">MINI</option>
                        <option value="MITSUBISHI">MITSUBISHI</option>
                        <option value="MORGAN">MORGAN</option>
                        <option value="MORRIS">MORRIS</option>
                        <option value="NISSAN">NISSAN</option>
                        <option value="OPEL">OPEL</option>
                        <option value="PEUGEOT">PEUGEOT</option>
                        <option value="PGO">PGO</option>
                        <option value="PLYMOUTH">PLYMOUTH</option>
                        <option value="PONTIAC">PONTIAC</option>
                        <option value="PORSCHE">PORSCHE</option>
                        <option value="PRINCESS">PRINCESS</option>
                        <option value="RENAULT">RENAULT</option>
                        <option value="ROLLS ROYCE">ROLLS ROYCE</option>
                        <option value="ROVER">ROVER</option>
                        <option value="SAAB">SAAB</option>
                        <option value="SANTANA">SANTANA</option>
                        <option value="SEAT">SEAT</option>
                        <option value="SECMA">SECMA</option>
                        <option value="SHELBY">SHELBY</option>
                        <option value="SIMCA">SIMCA</option>
                        <option value="SKODA">SKODA</option>
                        <option value="SMART">SMART</option>
                        <option value="SSANGYONG">SSANGYONG</option>
                        <option value="STUDEBAKER">STUDEBAKER</option>
                        <option value="STUTZ">STUTZ</option>
                        <option value="SUBARU">SUBARU</option>
                        <option value="SUNBEAM">SUNBEAM</option>
                        <option value="SUZUKI">SUZUKI</option>
                        <option value="TAZZARI">TAZZARI</option>
                        <option value="TESLA">TESLA</option>
                        <option value="THINK">THINK</option>
                        <option value="TOYOTA">TOYOTA</option>
                        <option value="TRIUMPH">TRIUMPH</option>
                        <option value="TVR">TVR</option>
                        <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                        <option value="VOLVO">VOLVO</option>
                        <option value="WESTFIELD">WESTFIELD</option>
                        <option value="WIESMANN">WIESMANN</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Email*</span>
                    </div>
                    <div class="small-10 columns">
                      <input id="em" type="text" name="email" placeholder="email" required="" />
                    </div>
                  </div>
                </div>
                <div class="small-6 columns">
                  <div class="row">
                    <div class="small-8 columns">
                      <div class="range-slider" data-slider data-options="display_selector: #days-off-count; initial: 1500;step: 100;start: 1500; end: 80000;">
                        <span class="range-slider-handle" role="slider" tabindex="1500"></span>
                        <span class="range-slider-active-segment"></span>
                      </div>
                    </div>
                    <div class="small-4 columns">
                      <input name="prix" type="number" id="days-off-count" value="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Téléphone</span>
                    </div>
                    <div class="small-10 columns">
                      <input id="ph" type="text" name="phone" placeholder="téléphone" />
                    </div>
                  </div>
                </div>
                <div class="small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Energie</span>
                    </div>
                    <div class="small-10 columns">
                      <select id="nrj" name="energie">
                        <option value="carburant">Carburant</option>
                        <option value="diesel">Diesel</option>
                        <option value="essence">Essence</option>
                        <option value="electrique" class="greenenergie">Electrique</option>
                        <option value="hybrides" class="greenenergie">Hybrides</option>
                        <option value="gpl" class="greenenergie">Bicarburation essence / gpl</option>
                        <option value="bioéth" class="greenenergie">Bicarburation essence bioéthanol</option>
                        <option value="autre" class="greenenergie">Autres énergies alternatives</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">CP</span>
                    </div>
                    <div class="small-10 columns">
                      <input id="cp" type="text" name="cp" placeholder="Code postal" />
                    </div>
                  </div>
                </div>
                <div class="small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Km max</span>
                    </div>
                    <div class="small-10 columns">
                      <input id="km" type="number" name="km" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-offset-6 small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Année mini</span>
                    </div>
                    <div class="small-10 columns">
                      <input id="anne" type="number" name="anne" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-offset-6 small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Conso max</span>
                    </div>
                    <div class="small-10 columns">
                      <input id="conso" type="number" name="conso" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-offset-6 small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Boîte</span>
                    </div>
                    <div class="small-10 columns">
                      <select id="box" name="transmission">
                        <option value="meca">Boîte mécanique</option>
                        <option value="auto">Boîte automatique</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="small-offset-6 small-6 columns">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix">Nb portes</span>
                    </div>
                    <div class="small-10 columns">
                      <select id="nbportes" name="nbportes">
                        <option value="2">2 portes</option>
                        <option value="3">3 portes</option>
                        <option value="4">4 portes</option>
                        <option value="5">5 portes</option>
                        <option value=">=6">6 portes ou plus</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="small-offset-1 small-10 columns">
                    <textarea id="cm" rows="4" cols="50" name="comment" placeholder="Commentaire ex: premiere main avec abs et gps" type="text"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="small-offset-5 small-3 columns">
                     <input type="hidden" name="cc_emails[]" value="rl.stand17@gmail.com" />
                    <button type="submit">Envoyer</button>
                  </div>
                </div>
            </form>
            {% case page.achatnormal.bloc %}
            
            {% when '4' %}
            <div class="row thurmb">
              <div class="large-3 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc1.image1_path}}"><img src="{{page.achatnormal.bloc1.image1_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image2_path}}"><img src="{{page.achatnormal.bloc1.image2_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image3_path}}"><img src="{{page.achatnormal.bloc1.image3_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image4_path}}"><img src="{{page.achatnormal.bloc1.image4_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">petites voitures....appuyez sur la photo.</li>
                  <li class="price editable">clio 3 beige 2490e</li>
                  <li class="description editable">CLIO 3 BLEU 2490 E</li>
                  <li class="bullet-item editable">PEUGEOT 1007 3400 e&nbsp;</li>
                  <li class="bullet-item editable">clio 2 &nbsp;bleu 200e</li>
                </ul>
              </div>
              <div class="large-3 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc2.image1_path}}"><img src="{{page.achatnormal.bloc2.image1_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image2_path}}"><img src="{{page.achatnormal.bloc2.image2_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image3_path}}"><img src="{{page.achatnormal.bloc2.image3_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image4_path}}"><img src="{{page.achatnormal.bloc2.image4_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">voitures familiales....appuyez sur la photo</li>
                  <li class="price editable">renault senic 1990 e</li>
                  <li class="description editable">renault senic 7 places 2790e</li>
                  <li class="bullet-item editable">volkswagen jetta 6250e</li>
                  <li class="bullet-item editable">renault laguna 2290 e</li>
                </ul>
              </div>
              <div class="large-3 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc3.image1_path}}"><img src="{{page.achatnormal.bloc3.image1_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc3.image2_path}}"><img src="{{page.achatnormal.bloc3.image2_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc3.image3_path}}"><img src="{{page.achatnormal.bloc3.image3_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc3.image4_path}}"><img src="{{page.achatnormal.bloc3.image4_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">voitures automatiques....appuyez sur la photo</li>
                  <li class="price editable"><br /></li>
                  <li class="description editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                </ul>
              </div>
              <div class="large-3 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc4.image1_path}}"><img src="{{page.achatnormal.bloc4.image1_path}}" alt="{{page.achatnormal.bloc4.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc4.image2_path}}"><img src="{{page.achatnormal.bloc4.image2_path}}" alt="{{page.achatnormal.bloc4.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc4.image3_path}}"><img src="{{page.achatnormal.bloc4.image3_path}}" alt="{{page.achatnormal.bloc4.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc4.image4_path}}"><img src="{{page.achatnormal.bloc4.image4_path}}" alt="{{page.achatnormal.bloc4.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable"><br /></li>
                  <li class="price editable"><br /></li>
                  <li class="description editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                </ul>
              </div>
            </div>
            {% when '3' %}
            <div class="row thurmb">
              <div class="large-4 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc1.image1_path}}"><img src="{{page.achatnormal.bloc1.image1_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image2_path}}"><img src="{{page.achatnormal.bloc1.image2_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image3_path}}"><img src="{{page.achatnormal.bloc1.image3_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image4_path}}"><img src="{{page.achatnormal.bloc1.image4_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">peugeot 306</li>
                  <li class="price editable">1 890 €</li>
                  <li class="description editable">169 900 km</li>
                  <li class="bullet-item editable">2001</li>
                  <li class="bullet-item editable">garantie extensible</li>
                </ul>
              </div>
              <div class="large-4 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc2.image1_path}}"><img src="{{page.achatnormal.bloc2.image1_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image2_path}}"><img src="{{page.achatnormal.bloc2.image2_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image3_path}}"><img src="{{page.achatnormal.bloc2.image3_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image4_path}}"><img src="{{page.achatnormal.bloc2.image4_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">Audi a4 cabriolet 1,8 t</li>
                  <li class="price editable">8 500 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">garantie extensible</li>
                </ul>
              </div>
              <div class="large-4 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc3.image1_path}}"><img src="{{page.achatnormal.bloc3.image1_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc3.image2_path}}"><img src="{{page.achatnormal.bloc3.image2_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc3.image3_path}}"><img src="{{page.achatnormal.bloc3.image3_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc3.image4_path}}"><img src="{{page.achatnormal.bloc3.image4_path}}" alt="{{page.achatnormal.bloc3.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">peugeot 206</li>
                  <li class="price editable">1 890€</li>
                  <li class="description editable">200 000km</li>
                  <li class="bullet-item editable">2002</li>
                  <li class="bullet-item editable">garantie extensible</li>
                </ul>
              </div>
            </div>
            {% when '2' %}
            <div class="row thurmb">
              <div class="large-6 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc1.image1_path}}"><img src="{{page.achatnormal.bloc1.image1_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image2_path}}"><img src="{{page.achatnormal.bloc1.image2_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image3_path}}"><img src="{{page.achatnormal.bloc1.image3_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image4_path}}"><img src="{{page.achatnormal.bloc1.image4_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
              <div class="large-6 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc2.image1_path}}"><img src="{{page.achatnormal.bloc2.image1_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image2_path}}"><img src="{{page.achatnormal.bloc2.image2_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image3_path}}"><img src="{{page.achatnormal.bloc2.image3_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc2.image4_path}}"><img src="{{page.achatnormal.bloc2.image4_path}}" alt="{{page.achatnormal.bloc2.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
            </div>
            {% when '1' %}
            <div class="row thurmb">
              <div class="large-12 columns">
                <ul class="clearing-thumbs clearing-feature" data-clearing>
                  <li class="clearing-featured-img"><a href="{{page.achatnormal.bloc1.image1_path}}"><img src="{{page.achatnormal.bloc1.image1_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" style='border-bottom: 1px solid #FFF;
    min-width: 220px;' /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image2_path}}"><img src="{{page.achatnormal.bloc1.image2_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image3_path}}"><img src="{{page.achatnormal.bloc1.image3_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                  <li><a href="{{page.achatnormal.bloc1.image4_path}}"><img src="{{page.achatnormal.bloc1.image4_path}}" alt="{{page.achatnormal.bloc1.bloc_voiture}}" /></a></li>
                </ul>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
            </div>
            {% else %}
            {% endcase %}
  {% if page.location.activate == true %}
            <div class="row" id="location">
              <div class="large-12 columns">
                <h1 class="text-center">Location : </h1>
                <p class="text-center editable">Vous souhaitez louer l'un de nos v&eacute;hicules, merci de remplir les champs "informations personnelles" dans le formulaire de contact ci-dessus. Vous pouvez &eacute;galement nous contacter pour plus d'informations.</p>
              </div>
            </div>
            {% case page.location.bloc %}
            {% when '4' %}
            <div class="row thurmb">
              <div class="large-3 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc1_image_path}}" alt="{{page.location.bloc1_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc1_image_path}}" alt="{{page.location.bloc1_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
              <div class="large-3 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc2_image_path}}" alt="{{page.location.bloc2_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc2_image_path}}" alt="{{page.location.bloc2_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
              <div class="large-3 columns ">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc3_image_path}}" alt="{{page.location.bloc3_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc3_image_path}}" alt="{{page.location.bloc3_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
              <div class="large-3 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc4_image_path}}" alt="{{page.location.bloc4_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc4_image_path}}" alt="{{page.location.bloc4_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
            </div>
            {% when '3' %}
            <div class="row thurmb">
              <div class="large-4 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc1_image_path}}" alt="{{page.location.bloc1_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc1_image_path}}" alt="{{page.location.bloc1_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
              <div class="large-4 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc2_image_path}}" alt="{{page.location.bloc2_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc2_image_path}}" alt="{{page.location.bloc2_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
              <div class="large-4 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc3_image_path}}" alt="{{page.location.bloc3_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc3_image_path}}" alt="{{page.location.bloc3_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
            </div>
            {% when '2' %}
            <div class="row thurmb">
              <div class="large-6 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc1_image_path}}" alt="{{page.location.bloc1_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc1_image_path}}" alt="{{page.location.bloc1_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable"><br /></li>
                  <li class="price editable"><br /></li>
                  <li class="description editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                </ul>
              </div>
              <div class="large-6 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc2.bloc2_image_path}}" alt="{{page.location.bloc2_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc2_image_path}}" alt="{{page.location.bloc2.bloc2_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable"><br /></li>
                  <li class="price editable"><br /></li>
                  <li class="description editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                  <li class="bullet-item editable"><br /></li>
                </ul>
              </div>
            </div>
            {% when '1' %}
            <div class="row thurmb">
              <div class="large-12 columns">
                <a class="th" role="button" aria-label="Thumbnail" target="_blank" href="{{page.location.bloc1.bloc1_image_path}}" alt="{{page.location.bloc1_voiture}}">
                <img aria-hidden=true src="{{page.location.bloc1_image_path}}" alt="{{page.location.bloc1.bloc1_voiture}}" />
                </a>
                <ul class="pricing-table">
                  <li class="title editable">Cliot</li>
                  <li class="price editable">2000 €</li>
                  <li class="description editable">150 000km</li>
                  <li class="bullet-item editable">2005</li>
                  <li class="bullet-item editable">Description</li>
                </ul>
              </div>
            </div>
            {% else %}
            {% endcase %}
      </section>
  {% endif %}
      {% include footer.html %}
