      <footer class="contact" id="contact">

        <div class="row">
          <div class="large-12 columns">
            <h1 class="text-center">Contacter S-17</h1>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <h3 class="text-center editable">T&eacute;l&eacute;phone&nbsp;</h3>
            <p class="text-center editable">07 68 16 34 17<br />De 9h-12h et 14h-18h<br />du lundi au vendredi</p>
          </div>
          <div class="large-6 columns">
            <h3 class="text-center editable">Disponibilit&eacute;s</h3>
            <p class="text-center editable">Pour plus d&rsquo;informations, contactez nous par t&eacute;l&eacute;phone ou par e-mail. Nous sommes &agrave; votre disposition pour vous aider au mieux dans votre recherche.</p>
            <p class="text-center editable"></p>
            <p class="text-center editable"></p>
          </div>
          <div class="large-3 columns">
            <h3 class="text-center editable">Email</h3>
            <p class="text-center editable">rl.stand17@gmail.com<br />R&eacute;ponse sous 24h<br />du lundi au vendredi</p>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <h2 class="text-center white editable">Réseaux Sociaux</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-offset-5 large-3 columns">
            <div class="fb-share-button" data-href="http://www.s-17.fr/" data-layout="button"></div>
            <div id="like" class="fb-like" data-href="http://www.s-17.fr/" data-layout="button_count"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3 class="text-center editable">Ou suivez nous sur : </h3>
          </div>
        </div>
        <div class="row">
          <div class="large-offset-5 large-2 columns">
            <a target="_blank" href="{{page.footer.facebook}}"><img alt="fb" class="imgtocenter" width="120px" src="/images/fb.gif" /></a>
          </div>
        </div>

      </footer>
