      <footer class="contact" id="contact">

        <div class="row">
          <div class="large-12 columns">
            <h1 class="text-center">Contacter S-17</h1>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <h3 class="text-center">Téléphone</h3>
            <p class="text-center">{{page.footer.tel}}</p>
          </div>
          <div class="large-6 columns">
            <h3 class="text-center">Disponibilité</h3>
            <p class="text-center">{{page.footer.disponibilite.text}}</p>
            <p class="text-center">{{page.footer.disponibilite.tel}}</p>
            <p class="text-center">{{page.footer.disponibilite.email}}</p>
          </div>
          <div class="large-3 columns">
            <h3 class="text-center">Email</h3>
            <p class="text-center"><a style="color:white;" href="mailto:contact@s-17.com">{{page.footer.email}}</a></p>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <h2 class="text-center white">Réseaux Sociaux</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-offset-5 large-3 columns">
            <div class="fb-share-button" data-href="http://www.s-17.fr/" data-layout="button"></div>
            <div id="like" class="fb-like" data-href="http://www.s-17.fr/" data-layout="button_count"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3 class="text-center">Ou suivez nous sur : </h3>
          </div>
        </div>
        <div class="row">
          <div class="large-offset-5 large-2 columns">
            <a target="_blank" href="{{page.footer.facebook}}"><img alt="fb" class="imgtocenter" width="120px" src="/s-17/images/fb.gif"></a>
          </div>
        </div>

      </footer>
