      <footer class="contact" id="contact">

        <div class="row">
          <div class="large-12 columns">
            <h1 class="text-center">Contacter S-17</h1>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <h3 class="text-center editable">Téléphone</h3>
            <p class="text-center editable">01-60-84-64-87</p>
          </div>
          <div class="large-6 columns">
            <h3 class="text-center editable">Disponibilité</h3>
            <p class="text-center editable">Pour plus d'information vous pouvez me contacter par telephone ou bien par email</p>
            <p class="text-center editable">Je suis disponible par telephone de xx à xx</p>
            <p class="text-center editable">Par mail de xx à xx</p>
          </div>
          <div class="large-3 columns">
            <h3 class="text-center editable">Email</h3>
            <p class="text-center editable">rl.stand17@gmail.com</p>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <h2 class="text-center white editable">Réseaux Sociaux</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-offset-5 medium-offset-5 large-3 columns">
            <div class="fb-share-button" data-href="http://www.s-17.fr/" data-layout="button"></div>
            <div id="like" class="fb-like" data-href="http://www.s-17.fr/" data-layout="button_count"></div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3 class="text-center editable">Ou suivez nous sur : </h3>
          </div>
        </div>
        <div class="row">
          <div class="large-offset-5 medium-offset-5 large-2 columns">
            <a target="_blank" href="{{page.footer.facebook}}"><img alt="fb" class="imgtocenter" width="120px" src="/images/fb.gif" /></a>
          </div>
        </div>

      </footer>
